body {
    background-color: #FFF7EA;
}

.titulo {
    color: black;
    background-color:#1F4E79;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     width: 1920px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quemSomos {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.missao {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: #A9D6E5;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}