:root {
    --roxo: #564787;
    --lilas: #DBCBD8;
    --aqua: #9AD4D6;
    --branco: #F2FDFF;
    --escuro: #101935;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    min-height: 100vh;

    background: var(--branco);
    color: var(--escuro);

    font-family: Arial, Helvetica, sans-serif;
}

button,
input,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}